
.footer {
    background-color: #fff; 
    border-top: 1px solid #797979;
    padding: 15px 0;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }
  
  .footer-logo h4 {
    margin: 0;
    font-size: 1.25rem;
    color: #000; 
  }
  

  .social-links {
    display: flex;
    align-items: center;
  }
  
  .social-links a {
    color: #000;           
    font-size: 1.5rem;      
    margin-left: 1rem;      
    transition: color 0.3s;
  }
  
  .social-links a:first-child {
    margin-left: 0;
  }
  
  .social-links a:hover {
    color: #0077b6;         
  }
  
  @media (max-width: 600px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
      padding: 0 1rem;
    }
  
    .social-links {
      margin-top: 1rem;
    }
  
    .social-links a {
      margin: 0 0.5rem;
    }
  }
  